@using TTP.Models.Entities
@model List<Iletisim>
@{
    ViewBag.Title = "IletisimListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD SOYAD</th>
        <th>MAİL</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AdSoyad</td>
            <td>@item.Mail</td>
            <td>@item.Konu</td>
            <td>@item.Mesaj</td>
            <td><a href="/Admin/IletisimSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/IletisimGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>